<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MappingServlet</servlet-name>
        <servlet-class>gr.aueb.servlets.MappingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SourceFileHandlerServlet</servlet-name>
        <servlet-class>gr.aueb.servlets.SourceFileHandlerServlet</servlet-class>
        <init-param>
            <param-name>FILE_UPLOAD_PATH</param-name>
            <param-value>${a.system.MIPMAP_HOME}</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TargetFileHandlerServlet</servlet-name>
        <servlet-class>gr.aueb.servlets.TargetFileHandlerServlet</servlet-class>
        <init-param>
            <param-name>FILE_UPLOAD_PATH</param-name>
            <param-value>${a.system.MIPMAP_HOME}</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MappingServlet</servlet-name>
        <url-pattern>/MappingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SourceFileHandlerServlet</servlet-name>
        <url-pattern>/SourceFileHandlerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TargetFileHandlerServlet</servlet-name>
        <url-pattern>/TargetFileHandlerServlet</url-pattern>
    </servlet-mapping>
    <!--security-constraint>
        <web-resource-collection>
            <web-resource-name>
               WebMIPMap
            </web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>
            Let only logged in users use this app
            </description>
            <role-name>userGroup</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
  	   <role-name>userGroup</role-name>
    </security-role>
    <login-config>
      <auth-method>FORM</auth-method>
      <form-login-config>
        <form-login-page>/login.jsp</form-login-page>
        <form-error-page>/loginError.html</form-error-page>
      </form-login-config>
    </login-config>
    <deny-uncovered-http-methods/-->
</web-app>
